/* STYLE RESET */

@media only screen and (min-width: 0px) {

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    body {
        line-height:1;
    }

    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section { 
        display:block;
    }

    nav ul {
        list-style:none;
    }

    blockquote, q {
        quotes:none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content:'';
        content:none;
    }

    a {
        margin:0;
        padding:0;
        font-size:100%;
        vertical-align:baseline;
        background:transparent;
    }

    /* change colours to suit your needs */
    ins {
        background-color:#ff9;
        color:#000;
        text-decoration:none;
    }

    /* change colours to suit your needs */
    mark {
        background-color:#ff9;
        color:#000; 
        font-style:italic;
        font-weight:bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom:1px dotted;
        cursor:help;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }

    /* change border colour to suit your needs */
    hr {
        display:block;
        height:1px;
        border:0;   
        border-top:1px solid #cccccc;
        margin:1em 0;
        padding:0;
    }

    input, select {
        vertical-align:middle;
    }

}

/* ############################################################################################## */

/* CODIGO Kimmi Recors*/

/* ######################################## */
/* ############## FUENTES ################# */
/* ######################################## */


@font-face {
    font-family: Caramella;
    src: url(fonts/Caramella_Regular.ttf);
}

@font-face {
    font-family: Vana-B;
    src: url(fonts/Vanadine_Bold.ttf)
}

/* ######################################## */
/* ############## GENERAL ################# */
/* ######################################## */


@media only screen and (min-width: 0px) {

    * {
        text-decoration: none;
    }

    body {
        background-color: #111;
    }

}

/* ######################################## */
/* ############## HEADER ################## */
/* ######################################## */



/* ######################################## */
/* ############## CUERPO ################## */
/* ######################################## */

/* PAGINA PRINCIPAL */

/* BANNER */

@media only screen and (min-width: 10px) {

    .index-banner {
        width: 100%;
        height: calc(100vh - 100px);
        background-image: url('https://i.imgur.com/EH6Exrv.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .index-intro {
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #111;
    }

    .index-intro iframe{
        width: 100%;
        height: 100%;
        margin-left: auto; 
        margin-right: auto;
        background-position: center;
        display: block;
    }

    .vertical-center {
        display: table-cell;
        vertical-align: middle;
        padding: 0 3px;
    }

    .index-banner h2 {
        font-family: Caramella;
        font-size: 24px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 8px #111;
    }

    .index-banner h1 {
        font-family: Caramella;
        font-size: 50px;
        font-weight: 100;
        font-style: italic;
        line-height: 40px;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 8px #111;
    }

}

@media only screen and (min-width: 1000px) {
    .index-banner {
        width: 100%;
        height: 1000px;
        background-image: url('https://i.imgur.com/EH6Exrv.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .index-intro {
        height: 750px;
    }

    .index-intro iframe{
        width: 1000px;
        height: 600px;
        padding-top: 100px;
    }

    .index-banner h1 {
        display: block;
        font-size: 110px;
        font-weight: 500;
        width: 100%;
        margin: 5 auto;
    }

    .index-banner h2 {
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }
}

/* LINKS */

@media only screen and (min-width: 10px) {

    .index-links {
        width: 100%;
        display: table;
    }

    .index-links div h3 {
        font-family: Caramella;
        font-size: 28px;
        font-weight: 600;
        line-height: 100px;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 8px #111;
    }

    .index-boxlink {
        margin: 16px 16px 0;
        width: calc(100% - 32px);
        height: calc((100vh-300px) / 4 );
        background-image: url('images/studiolink.JPG');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .insta-link {
        background-image: url('images/instalink.JPG');
    }

    .sobre-link {
        background-image: url('images/sobrelink.JPG');
    }

    .contacto-link {
        background-image: url('images/contactolink.jpg');
    }

}

@media only screen and (min-width: 1000px) {
    
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .index-boxlink {
        margin: 20px 10px 0;
        width: calc(50% - 20px);
        height: calc(50% - 20px);
        float: left;
    }
        
    .index-links div h3 {
        font-size: 40px;
        line-height: 300px;
    }

}


/* CONTACT */

@media only screen and (min-width: 10px) {

    .contact-banner {
        width: 100%;
        height: calc(100vh - 100px);
        background-image: url(https://i.imgur.com/lt0yrmc.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .contact-banner h2 {
        font-family: Caramella;
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 8px #111;
    }

}

@media only screen and (min-width: 1000px) {
    .contact-banner {
        width: 100%;
        height: 1000px;
        background-image: url(https://i.imgur.com/lt0yrmc.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .index-banner h2 {
        font-size: 56px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }
}

/* ABOUT */

@media only screen and (min-width: 10px) {

    .about-banner {
        width: 100%;
        height: calc(100vh - 100px);
        background-color: #111;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .about-banner h2 {
        font-family: Caramella;
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        background-color: rgba(17, 17, 17, .2);
        text-align: center;
        text-shadow: 10px 10px 8px #111;
    }

    .about-banner h3 {
        font-family: Caramella;
        font-size: 24px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        background-color: rgba(17, 17, 17, .2);
        text-align: center;
        text-shadow: 10px 10px 8px #111;
    }

}

@media only screen and (min-width: 1000px) {
    .about-banner {
        width: 100%;
        height: 1000px;
        background-image:url(https://i.imgur.com/yU47YgT.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .about-banner h2 {
        font-size: 56px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }

    .about-banner h3 {
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }
}

/* STUDIO */

@media only screen and (min-width: 10px) {

    .studio-banner {
        width: 100%;
        height: calc(100vh - 600px);
        background-color: #111;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .studio-banner h2 {
        font-family: Caramella;
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        text-align: center;
        text-shadow: 5px 5px 8px #111;
    }

    .studio-banner h3 {
        font-family: Caramella;
        font-size: 24px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 8px #111;
    }

    .studio-seccion {
        width: 100%;
        background-color: #111;
        display: table;
    }

    .studio-cuadro {
        margin: 8px 16px 0;
        height: 300px;
    }

    .studio-imagen{
        margin: 0;
        width: 100%;
        height: 275px;
        place-items: center;
    }

    .studio-imagen img {
        width: 100%;
        height: 100%;
    }

    .studio-titulo{
        margin-top: 15px;
        font-family: Caramella;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }

}

@media only screen and (min-width: 1000px) {
    
    .studio-cuadro {
        width: calc( ( 100% / 3) - 32px);
        float: left;
    }

    .studio-banner {
        width: 100%;
        height: 200px;
        background-color: #111;
        display: table;
    }

    .studio-banner h2 {
        font-size: 56px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }

    .studio-banner h3 {
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }

}

/* LIBRARY */

@media only screen and (min-width: 10px) {

    .texts-banner {
        width: 100%;
        height: calc(100vh - 600px);
        background-color: #111;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .texts-banner h2 {
        font-family: Caramella;
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        text-align: center;
        text-shadow: 5px 5px 8px #111;
    }

    .texts-banner h3 {
        font-family: Caramella;
        font-size: 24px;
        font-weight: 900;
        line-height: 70px;
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 8px #111;
    }

    .texts-seccion {
        width: 100%;
        background-color: #111;
        display: table;
    }

    .texts-cuadro {
        margin: 8px 16px 0;
        height: 450px;
    }

    .texts-imagen{
        margin: 0;
        width: 100%;
        height: 400px;
        place-items: center;
    }

    .texts-imagen img {
        width: 100%;
        height: 100%;
    }

    .texts-titulo{
        margin-top: 15px;
        font-family: Caramella;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }

}

@media only screen and (min-width: 1000px) {
    
    .texts-cuadro {
        width: calc( ( 100% / 3) - 32px);
        float: left;
    }

    .texts-banner {
        width: 100%;
        height: 200px;
        background-color: #111;
        display: table;
    }

    .texts-banner h2 {
        font-size: 56px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }

    .texts-banner h3 {
        font-size: 36px;
        font-weight: 900;
        line-height: 70px;
        margin-top: 40px;
    }

}

/* ######################################## */
/* ############## FOOTER ################## */
/* ######################################## */

@media only screen and (min-width: 10px) {

    footer {
        width: 100%;
        padding: 40px 40px;
        background-color: #111;
        overflow: hidden;
    }

    footer ul {
        width: fit-content;
        float: left;
        padding-left: 20px;
    }

    footer ul li {
        display: block;
        list-style: none;
    }

    footer ul a {
        font-family: Vana-B;
        font-size: 24px;
        color: #fff;
        line-height: 30px;
    }

    .footer-facebook {
        width: 75px;
        float: right;
        padding-right: 20px;
    }

    .footer-facebook img {
        width: 75%;
        margin-top: 5px;
    }

    .footer-copyright-div {
        width: 100%;
        background-color: #111;
        padding: 10px 10px;
        overflow: hidden;
    }
    
    .footer-copyright-div p {
        font-family: Vana-B;
        font-size: 18px;
        text-align: center;
        color: #fff;
        line-height: 30px;
    }

}

@media only screen and (min-width: 1000px) {
   
    footer ul {
        width: fit-content;
        float: inline-start;
        padding-left: 20px;
        margin-top: 30px;
    }

    footer ul li {
        display: contents;
        list-style: none;      
    }

    footer ul a {
        font-size: 24px;
        line-height: 30px;
        margin-right: 50px;
    }
    
    .footer-facebook img {
        width: 100%;
        margin-top: 10px;
    }
}

.footer-copyright-div {
    width: 100%;
    background-color: #111;
    overflow: hidden;
}

.footer-copyright-div p {
    font-family: Vana-B;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
}