{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <!-- Cabecera -->
    {% load static %}   
    <!-- CUERPO -->
    <main>
        <!-- BANNER -->
        <section class="about-banner">
            <div class="vertical-center">
                <h2>This is Kimmi Records</h2>
                <h3>We are an independent label and studio complex from Buenos Aires, Argentina. <br>An ever-expanding project involving local artists who create and produce music and events.</h2>
            </div>
        </section>
    </main>
    {% endblock %}